
    <h4>Profile List <br>
    <small>View and Activate Profiles</small>
  </h4> 
    <md-radio-group value="{{selectedProfileId}}">
      <md-list>
        <md-list-item 
          *ngFor="let profile of profiles; let index = index">
          <span class="profile">
           <md-radio-button value="{{index}}">{{profile.name}}</md-radio-button>
          </span>
          <button 
            md-icon-button 
            class="edit-button" 
            [routerLink]="['/detail', profile.id]">
            <md-icon >edit</md-icon>
          </button>
        </md-list-item>
      </md-list>
    </md-radio-group>

